server:
  http_listen_port: 3200

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
    zipkin:
      endpoint: 0.0.0.0:9411

ingester:
  max_block_duration: 5m
  max_block_bytes: 1073741824
  trace_idle_period: 10s
  max_line_size: 1048576

compactor:
  compaction:
    compaction_window: 1h
    max_compaction_objects: 1000000
    block_retention: 1h
    compacted_block_retention: 10m

storage:
  trace:
    backend: local
    wal:
      path: /tmp/tempo/wal
      enabled: true
    local:
      path: /tmp/tempo/blocks
    pool:
      max_workers: 100
      queue_depth: 100000

overrides:
  defaults:
    metrics_generator:
      processors: [service-graphs, span-metrics]
      traces_storage:
        path: /tmp/tempo/generator/traces
